from pyclif import command, Response
from ....core.context import pass_cli_context
from ..interfaces import {{ name_pascal }}Interface


@command()
@pass_cli_context
def {{ name_snake }}(ctx) -> Response:
    """{{ name_pascal }} description."""
    return {{ name_pascal }}Interface(ctx).respond("{{ name_snake }}")
