from click import make_pass_decorator
from pyclif import BaseContext


class {{ name_pascal }}Context(BaseContext):
    """Application context — holds all integration instances."""

    def __init__(self):
        super().__init__()


pass_cli_context = make_pass_decorator({{ name_pascal }}Context)
